@font-face {
  font-family: 'Hustlers Rough Demo';
  src: url('Hustlers-Rough-Demo.ttf') format('truetype');
  src: url('Hustlers-Rough-Demo.otf') format('opentype');
}
body {
  background: url(towerbridge.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: black;
  color: white;
  font-family: 'Hustlers Rough Demo', serif;
  font-size: 150%;
}
.content {
  float: right;
  padding-right: 20px;
}
footer {
  position: fixed;
  left: 20px;
  bottom: 15px;
}
h1 {
  font-size: 700%;
  font-weight: normal;
  color: black;
  padding: 0;
  margin-left: .25em;
  margin-top: .125em;
  margin-bottom: 0;
  font-family: 'Hustlers Rough Demo', serif;
}

h2 {
  color: black;
  font-weight: normal;
}

a:link    { color: white }
a:visited { color: white }
a:hover   { color: white }
a:active  { color: white }
div.addthis_native_toolbox { display: inline; color: white }

tr.ij_date {
  background-color: #666;
}
